{% extends "layout.html" %} {% load widget_tweaks %} {% block title %}Login - {% endblock %} {% block nav %}
<li><a class="animate" href="{% url 'register' %}">Sign Up</a></li>{% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h4 class="text-center">Login</h4>
                    <form class="form-signin" method="POST">
                        {% csrf_token %} {% for field in form %}
                        <div class="form-label-group">
                            <label for="inputText">{{ field.label_tag }}</label>
                            <br> {{ field|add_class:'form-control' }} {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <br>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <hr class="my-4">
                    </form>
                    <h4>Don't have an account? <a href="{% url 'register' %}"><b>Sign up</b></a></h4>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="social-login">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i>Login with Google</span> </a>
        <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i>Login with Facebook</span> </button>
        <a href="{% url 'social:begin' 'github' %}" class="btn github-btn social-btn" type="button"><span><i class="fab fa-github-g"></i>Login with GitHub</span> </a>
    </div>
</div>
<style>
    .facebook-btn {
        background-color: #3C589C;
    }
    
    .google-btn {
        background-color: #DF4B3B;
    }
    
    .github-btn {
        background-color: rgb(155, 45, 32);
    }
</style>

{% endblock %}