{% extends "layout.html" %} {% block title %}Sign Up - {% endblock %} {% block nav %}
<li><a class="animate" href="{% url 'login' %}">Login</a></li>{% endblock %} {% block body %}
<h2>Register</h2>
<form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Register</button>
</form>
<br>
<p><strong>-- OR --</strong></p>
<a href="{% url 'social:begin' 'google-oauth2' %}">Register with Google</a><br>
<p><strong>-- OR --</strong></p>
<a href="{% url 'social:begin' 'github' %}">Register with GitHub</a><br> {% endblock %}