{% extends "interview.html" %} {%block id%}{{room_name}}{%endblock%}{% block chat %}
<textarea id="chat-log" cols="34" rows="12"></textarea><br/>
<input id="chat-message-input" type="text" size="34" /><br/>
<input style="display:none;" id="chat-message-submit" type="button" value="Send" />
<script>
    var roomName = {{ room_name_json }};

    console.log('Room name = ' + roomName);
    
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/chat/' + roomName);

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode == 13) {
            var message = document.querySelector('#chat-message-input').value;
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>
{% endblock %}