{% extends "layout.html" %} {% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <p class="display-4">Hello, {{ user.username }}</p>
                    {% else %}
                    <a class="lead" href="{% url 'login' %}">Log in</a> {% endif %}
                    <a href="#" class="btn btn-success">Create Interview</a>
                </div>
            </div>
        </div>
    </div>
</div>

What chat room would you like to enter?<br/>
<input id="room-name-input" type="text" size="100" /><br/>
<input id="room-name-submit" type="button" value="Enter" />

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = 'chat/' + roomName;
    };
</script>
{% endblock body %}