{% extends "layout.html" %}{% block nav %}
<li><a class="animate" href="{% url 'login' %}">Login</a></li>
<li><a class="animate" href="{% url 'register' %}">Sign Up</a></li>{% endblock %} {% block body %}{% endblock %}