<html>

<head>
    <title>Interview</title>
</head>

<body>
    <h5>Interview Id: {%block id%}{%endblock%}</h5>
    <div class='container'>
        <div class='video box'>
            Video Chat Area
        </div>
        <div class='text box'>
            {% block chat %} {% endblock %}
        </div>
        <button>End session</button>
        <textarea class='code box'>
            Coding Area
        </textarea>
        <button>Submit</button>
        <div class='output box'>
            Output Screen
        </div>
    </div>
</body>
<style>
    .container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 330px 330px 330px 330px;
        grid-template-rows: 230px 230px;
        background-color: #fff;
        color: #444;
    }
    
    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 50%;
    }
    
    .video {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    
    .code {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }
    
    .text {
        grid-column: 1;
        grid-row: 2 / span 1;
    }
    
    .output {
        grid-column: 2;
        grid-row: 2 / span 1;
    }
</style>

</html>