<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel='icon' href="{% static 'favicon.ico' %}" type='image/x-icon' /> {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}HackerRank</title>
</head>

<body>
    <nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
        <div class="[ container ]">
            <div class="[ navbar-header ]">
                <div class="[ animbrand ]">
                    <a class="[ navbar-brand ][ animate ]" href="{% url 'index' %}"><img src="{% static 'logo.png' %}"></a>
                </div>
            </div>

            <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
                <ul class="[ nav navbar-nav navbar-right ]">
                    {% block nav %}{% endblock %}
                    <!-- {% if user.is_authenticated %}
                    <li>
                    </li>
                    <li><a class="animate" href="{% url 'logout' %}">Logout</a></li>
                    {% else %} -->

                    <!-- {% endif %} -->
                </ul>
            </div>
        </div>
        {% block body %}{% endblock %}
</body>

</html>